// Global Colors Here
$colors-ui-cream: #fafafa;
$colors-yellow: #e8c547;
$colors-ui-black: #30323d;
$colors-ui-grey: #4d5061;
$colors-ui-blue: #5c80bc;
$colors-ui-tan: #cdd1c4;
$colors-ui-light-blue: #049ee3;
$colors-ui-dark-blue: #03285b;
$colors-ui-blue-almost-black: #19315d;
$colors-ui-sky-blue: #bad7ff;

$colors-ui-white: #ffffff;
$colors-ui-light-grey-1: #fafafa;
$colors-ui-light-grey-2: #f4f4f4;
$colors-ui-light-grey-1: #f0f0f0;

$colors-primary: $colors-ui-light-blue;
$colors-border: $colors-ui-grey;
$colors-general-text: $colors-ui-grey;
